.friendMessage {
    display: flex;
    align-items: flex-end;
    text-align: right;
}

.friendImageAndText {

}

.friendImageAndText img {
    height: 50px;

}

.friendText {
    margin-left: 90px;
    padding: 10px;
    border-radius: 5px 5px 0px 5px;
    background-color: #61dafb;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.friendTime {

}
